<body class='signerscity'>
    <div class='header'>
        <a class="myprof" href="/myprofile">MY PROFILE</a>
        <a class="about" href="{{about}}"> {{abouttext}}</a>
        <a class="log" href="{{loglink}}">  {{logbutton}}  </a>
    </div>
    <main>
    <h1>We in {{city}} all signed for global healthcare!</h1>
    {{#list}}
    <ul>
        <li>
        {{#if url}} <a href="{{url}}"> {{first}} {{last}}</a>
        {{else}} {{first}} {{last}}
        {{/if}} |

        {{#if age}}
        {{age}}
        {{/if}}
    </li>
    </ul>
    {{/list}}
    </main>
    <div class='footer'>
        <p class='footertext'> &copy; Livia de Castro e Mello 2019 </p>
    </div>
</body>
